* {
  margin: 0;
}

@font-face {
  font-family: Compote;
  src: url(/public/Compote-Free.otf);
}

@font-face {
  font-family: Hubot;
  src: url(/public/Hubot-Sans-LightSemi.ttf);
}

body {
  height: 100vh;
}

#img {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 3;

  transition: width 1s, opacity 0.4s;
}

#video-wrapper video {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transition: width 1s;
  z-index: 2;
  top: 0%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(../public/wavenoise.png);
  mix-blend-mode: overlay;
  opacity: 20%;
  z-index: 100;
  pointer-events: none;
}

.logo {
  position: fixed;
  display: flex;
  width: calc(100vw - 2rem);
  bottom: 0;
  left: 0;
  margin: 1rem;
  z-index: 3;
  gap: 1rem;
  height: 50px;
  transition: all 0.5s;
}

.logo img {
  width: auto;
}

h1 {
  z-index: 4;
}

#product-nav {
  display: flex;
  transition: all 1s;
  gap: 1rem;
  align-items: center;
}

.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 50px;
  border: solid 1px black;
  transition: background-color 0.5s;
  cursor: pointer;
  box-sizing: border-box;
}

.hide {
  translate: 0 100px;
  transition: translate 1s;
}

.greyed-out {
  background-color: rgba(255, 255, 255, 0);
  cursor: default;
  transition: background-color 0.5s;
}

.content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

.title {
  font-size: calc(6vw + 10vh / 8);
  font-family: Compote;
  color: rgba(255, 255, 255, 0.8);
  transition: all 1s;
  animation: slideinleft 2s ease-in-out;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 4;
  mix-blend-mode: overlay;
}

#sidebar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  right: 0;
  padding: 3rem;
  box-sizing: border-box;
  z-index: 5;
}

#page-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
}

.page-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  height: 500px;
  width: 182px;
  font-family: Compote;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px black;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: calc(2rem + 50px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s, opacity 0.6s;
}

.collapsed {
  height: 1px;
  border-top: solid 0px rgba(0, 0, 0, 0);
  transition: height 0.5s ease-in-out 0.6s, border-top 1s linear 0.6s;
}

.collapsed ul {
  opacity: 0;
  transition: opacity 0.5s ease-in-out 1s;
  pointer-events: none;
  line-height: 1rem;
}

.dropdown ul {
  list-style-type: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 6rem;
  text-align: center;
  transition: opacity 0.5s ease-in-out 0.5s;
}

#followCursor {
  display: none;
  position: absolute;
  z-index: 4;
  background-color: aliceblue;
  padding: 1rem;
  font-family: Compote;
}

svg {
  position: fixed;
  z-index: 5;
  height: 300px;
  rotate: -25deg;
  transform: translate(-100px, -150px);

  width: auto;
}

svg > path {
  pointer-events: all;
}

svg > path:hover {
  fill: blue;
}

#areaPlant {
  display: flex;
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.sidebar-resize {
  width: 60vw !important;
}

@keyframes slideinleft {
  0% {
    transform: translateX(-50vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    transform-origin: bottom left;
    scale: 0.75;
    transition: all 0.5s;
  }

  .dropdown {
    scale: 0.75;
    transform-origin: bottom left;
    margin-bottom: calc(1rem + 50px);
  }
}
